<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div id="wrap" class="container">
	
        	{{ content }}		
       
		</div><!-- /.container -->
		<footer id="foot">
    			Research Authors
    			<ul>
        			<li><a href="mailto:anish.timila@ttu.com">Anish Timila</a></li>
            			<li><a href="mailto:sulav.poudyal@ttu.edu">Sulav Poudyal</a></li>
            			<li><a href="mailto:jared.inting@ttu.edu">Jared Inting</a></li>
            			<li><a href="mailto:topa.timilsena@ttu.edu">Topa Timilsena</a></li>
        			<li><a href="https://github.com/databaseprojectttu">Github</a></li>
			</ul>
		</footer>
	</body>
</html>
